<a href="https://colab.research.google.com/github/sainiketh372/Practice_ML_projects/blob/main/Movie_Recommendation_using_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Movie Recommendation System**

# **Objective**



---


The objective of the movie recommendation system using machine learning based on vectorization and cosine similarities is to provide personalized and accurate movie recommendations to users based on their preferences and similarities to other users. The system aims to leverage machine learning techniques to analyze movie features and user behavior in order to create a recommendation model that effectively matches users with movies they are likely to enjoy.

**Recommendation Accuracy:** Develop a robust machine learning model that accurately predicts the preferences of users based on their historical movie ratings and other relevant features. The system should strive to minimize errors and improve the precision and recall of the recommendations.

**Vectorization and Cosine Similarities:**Utilize vectorization techniques to represent movies and users in a high-dimensional space. Calculate cosine similarities between these vectors to measure the similarity between movies and users. The objective is to effectively capture the relationships between movies and users, enabling accurate recommendation generation.

By achieving these objectives, the movie recommendation system aims to enhance user satisfaction, increase movie discovery, and improve engagement, ultimately driving increased user retention and revenue for the platform.

# **Data Source**
https://www.kaggle.com/code/kamaleshsah/movie-recommendation

# **Import Library**

In [137]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel

# **Import Dataset**

In [138]:
MR1 = pd.read_csv('/content/drive/MyDrive/ML_data/tmdb_5000_movies.csv')

In [139]:
MR2 = pd.read_csv("/content/drive/MyDrive/ML_data/tmdb_5000_credits.csv")

In [140]:
MR1.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [141]:
MR1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [142]:
MR1.shape

(4803, 20)

In [143]:
MR1.columns

Index(['budget', 'genres', 'homepage', 'id', 'keywords', 'original_language',
       'original_title', 'overview', 'popularity', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'vote_average',
       'vote_count'],
      dtype='object')

In [144]:
MR2.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [145]:
MR2.columns=['id','title','cast','crew']
MR = MR1.merge(MR2,on='id')
MR.iloc[:,[1,2,3,17]].head(50)

,genres,homepage,id,title_x
0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,Avatar
1,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,Pirates of the Caribbean: At World's End
2,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,Spectre
3,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,The Dark Knight Rises
4,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,John Carter
5,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""na...",http://www.sonypictures.com/movies/spider-man3/,559,Spider-Man 3
6,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",http://disney.go.com/disneypictures/tangled/,38757,Tangled
7,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://marvel.com/movies/movie/193/avengers_ag...,99861,Avengers: Age of Ultron
8,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://harrypotter.warnerbros.com/harrypottera...,767,Harry Potter and the Half-Blood Prince
9,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.batmanvsupermandawnofjustice.com/,209112,Batman v Superman: Dawn of Justice
10,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://www.superman.com,1452,Superman Returns
11,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",http://www.mgm.com/view/movie/234/Quantum-of-S...,10764,Quantum of Solace
12,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,58,Pirates of the Caribbean: Dead Man's Chest
13,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://disney.go.com/the-lone-ranger/,57201,The Lone Ranger
14,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.manofsteel.com/,49521,Man of Steel
15,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 10751...",NaN,2454,The Chronicles of Narnia: Prince Caspian
16,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",http://marvel.com/avengers_movie/,24428,The Avengers
17,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",http://disney.go.com/pirates/index-on-stranger...,1865,Pirates of the Caribbean: On Stranger Tides
18,"[{""id"": 28, ""name"": ""Action""}, {""id"": 35, ""nam...",http://www.sonypictures.com/movies/meninblack3/,41154,Men in Black 3
19,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.thehobbit.com/,122917,The Hobbit: The Battle of the Five Armies
20,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.theamazingspiderman.com,1930,The Amazing Spider-Man
21,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.robinhoodthemovie.com/,20662,Robin Hood
22,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://www.thehobbit.com/,57158,The Hobbit: The Desolation of Smaug
23,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://www.goldencompassmovie.com/index_german...,2268,The Golden Compass
24,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 18, ""...",NaN,254,King Kong
25,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",http://www.titanicmovie.com,597,Titanic
26,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",http://marvel.com/captainamericapremiere,271110,Captain America: Civil War
27,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 28, ""n...",NaN,44833,Battleship
28,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.jurassicworld.com/,135397,Jurassic World
29,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.skyfall-movie.com,37724,Skyfall
30,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spider-man2/,558,Spider-Man 2
31,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://marvel.com/ironman3,68721,Iron Man 3
32,"[{""id"": 10751, ""name"": ""Family""}, {""id"": 14, ""...",http://disney.go.com/wonderland/,12155,Alice in Wonderland
33,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",NaN,36668,X-Men: The Last Stand
34,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",NaN,62211,Monsters University
35,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",http://www.transformersmovie.com/,8373,Transformers: Revenge of the Fallen
36,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",http://www.transformersmovie.com,91314,Transformers: Age of Extinction
37,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 12, ""na...",http://www.ozthegreatandpowerfulmovie.com,68728,Oz: The Great and Powerful
38,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.theamazingspiderman.com,102382,The Amazing Spider-Man 2
39,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",http://disney.go.com/tron/,20526,TRON: Legacy
40,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",http://www.disney.go.com/cars/,49013,Cars 2
41,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",http://greenlanternmovie.warnerbros.com/,44912,Green Lantern
42,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",http://disney.go.com/toystory/,10193,Toy Story 3
43,"[{""id"": 28, ""name"": ""Action""}, {""id"": 878, ""na...",https://www.warnerbros.com/terminator-salvation,534,Terminator Salvation
44,"[{""id"": 28, ""name"": ""Action""}]",http://www.furious7.com/,168259,Furious 7
45,"[{""id"": 28, ""name"": ""Action""}, {""id"": 18, ""nam...",http://www.worldwarzmovie.com,72190,World War Z
46,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.x-menmovies.com/,127585,X-Men: Days of Future Past
47,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",NaN,54138,Star Trek Into Darkness
48,"[{""id"": 28, ""name"": ""Action""}, {""id"": 10751, ""...",http://jackthegiantkiller.warnerbros.com,81005,Jack the Giant Slayer
49,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",NaN,64682,The Great Gatsby

# **Describe Data**

In [146]:
MR.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title_x,vote_average,vote_count,title_y,cast,crew
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [147]:
MR['overview'] = MR['overview'].fillna('')
MR['overview']

0       In the 22nd century, a paraplegic Marine is di...
1       Captain Barbossa, long believed to be dead, ha...
2       A cryptic message from Bond’s past sends him o...
3       Following the death of District Attorney Harve...
4       John Carter is a war-weary, former military ca...
                              ...
4798    El Mariachi just wants to play his guitar and ...
4799    A newlywed couple's honeymoon is upended by th...
4800    "Signed, Sealed, Delivered" introduces a dedic...
4801    When ambitious New York attorney Sam is sent t...
4802    Ever since the second grade when he first saw ...
Name: overview, Length: 4803, dtype: object

# **Feature Selection**

# **Recommend Movie Based on Watched**

# **Modeling and Data Preprocessing**

In [148]:
tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix= tfidf.fit_transform(MR['overview'])
tfidf_matrix.shape

(4803, 20978)

In [149]:
cosine_sim= linear_kernel(tfidf_matrix,tfidf_matrix)
cosine_sim

array([[1.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.02160533, 0.        ,
        0.        ],
       [0.        , 0.        , 1.        , ..., 0.01488159, 0.        ,
        0.        ],
       ...,
       [0.        , 0.02160533, 0.01488159, ..., 1.        , 0.01609091,
        0.00701914],
       [0.        , 0.        , 0.        , ..., 0.01609091, 1.        ,
        0.01171696],
       [0.        , 0.        , 0.        , ..., 0.00701914, 0.01171696,
        1.        ]])

In [150]:
indices = pd.Series(MR.index, index=MR['title_x'])
type(indices)
indices

title_x
Avatar                                         0
Pirates of the Caribbean: At World's End       1
Spectre                                        2
The Dark Knight Rises                          3
John Carter                                    4
                                            ...
El Mariachi                                 4798
Newlyweds                                   4799
Signed, Sealed, Delivered                   4800
Shanghai Calling                            4801
My Date with Drew                           4802
Length: 4803, dtype: int64

# **Data Segmentation**

In [151]:
def recommend(title_x,cosine_sim=cosine_sim):
  idx = indices[title_x]
  sim_scores = list(enumerate(cosine_sim[idx]))
  sim_scores = sorted(sim_scores, key=lambda a: a[1], reverse=True)
  sim_scores=sim_scores[1:11]
  movie_indices = [i[0] for i in sim_scores]
  print(type(MR['title_x'].iloc[movie_indices]))
  return pd.DataFrame(MR['title_x'].iloc[movie_indices])

# **Prediction or Output**

In [152]:
recommend('Iron Man')

<class 'pandas.core.series.Series'>

                        title_x
79                   Iron Man 2
31                   Iron Man 3
1868         Cradle 2 the Grave
7       Avengers: Age of Ultron
538                     Hostage
119               Batman Begins
1290   Baahubali: The Beginning
4574                   Roadside
2044         The Little Vampire
2633  The Clan of the Cave Bear

# **Recommend Movie based on genre**

In [153]:
MR['genres']=MR['genres'].fillna('')
MR['genres']

0       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
1       [{"id": 12, "name": "Adventure"}, {"id": 14, "...
2       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
3       [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4       [{"id": 28, "name": "Action"}, {"id": 12, "nam...
                              ...
4798    [{"id": 28, "name": "Action"}, {"id": 80, "nam...
4799    [{"id": 35, "name": "Comedy"}, {"id": 10749, "...
4800    [{"id": 35, "name": "Comedy"}, {"id": 18, "nam...
4801                                                   []
4802                  [{"id": 99, "name": "Documentary"}]
Name: genres, Length: 4803, dtype: object

In [154]:
tfidf = TfidfVectorizer()
tfidf_matrix=tfidf.fit_transform(MR['genres'])
tfidf_matrix.shape

(4803, 44)

In [155]:
cosine_sim=linear_kernel(tfidf_matrix,tfidf_matrix)
cosine_sim

array([[1.        , 0.84758638, 0.6117202 , ..., 0.20451886, 0.        ,
        0.11004929],
       [0.84758638, 1.        , 0.69301126, ..., 0.19685553, 0.        ,
        0.10592573],
       [0.6117202 , 0.69301126, 1.        , ..., 0.20646486, 0.        ,
        0.11109641],
       ...,
       [0.20451886, 0.19685553, 0.20646486, ..., 1.        , 0.        ,
        0.07919237],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.11004929, 0.10592573, 0.11109641, ..., 0.07919237, 0.        ,
        1.        ]])

In [156]:
indices=pd.Series(MR.index, index=MR['title_x'])
type(indices)
indices

title_x
Avatar                                         0
Pirates of the Caribbean: At World's End       1
Spectre                                        2
The Dark Knight Rises                          3
John Carter                                    4
                                            ...
El Mariachi                                 4798
Newlyweds                                   4799
Signed, Sealed, Delivered                   4800
Shanghai Calling                            4801
My Date with Drew                           4802
Length: 4803, dtype: int64

In [157]:
def Genre_re(title_x,cosine_sim=cosine_sim):
  idx=indices[title_x]
  sim_scores=list(enumerate(cosine_sim[idx]))
  sim_scores=sorted(sim_scores,key=lambda x:x[1], reverse=True)
  sim_scores = sim_scores[1:11]
  movie_indices=[i[0] for i in sim_scores]
  print(type(MR['title_x'].iloc[movie_indices]))
  return pd.DataFrame(MR['title_x'].iloc[movie_indices])

In [158]:
Genre_re('Interstellar')

<class 'pandas.core.series.Series'>

                            title_x
270                     The Martian
363    A.I. Artificial Intelligence
2375               Midnight Special
3568   20,000 Leagues Under the Sea
4332                 Silent Running
2758           The Astronaut Farmer
256                       Allegiant
675                   Jurassic Park
1326                   The 5th Wave
1959  Star Trek IV: The Voyage Home

In [159]:
MR['release_date']=pd.to_datetime(MR['release_date'])
MR.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4803 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   datetime64[ns]
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title_x               4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  title_y               4803 non-null   object
 21  cast                  4803 non-null   object
 22  crew                  4803 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(4), object(15)
memory usage: 900.6+ KB

# **Rating vs Votes**

In [160]:
vote_counts = MR[MR['vote_count'].notnull()]['vote_count'].astype('int')
vote_averages = MR[MR['vote_average'].notnull()]['vote_average'].astype('int')
MEAN=vote_averages.mean()
MEAN

5.6529252550489275

In [161]:
Mean_ac=vote_counts.quantile(0.99)
Mean_ac

6172.239999999983

In [162]:
def weighted_rating(x):
  v=x['vote_count']
  R=x['vote_average']
  return (v/(v+Mean_ac)*R)+(Mean_ac/(Mean_ac+v)*MEAN)

In [163]:
MR['rating_count']=MR.apply(weighted_rating,axis=1)
MR.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,spoken_languages,status,tagline,title_x,vote_average,vote_count,title_y,cast,crew,rating_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de...",6.668685
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de...",6.178760
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...",...,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de...",5.924571
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de...",6.813403
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de...",5.767385

In [164]:
MR.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4803 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   datetime64[ns]
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title_x               4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  title_y               4803 non-null   object
 21  cast                  4803 non-null   object
 22  crew                  4803 non-null   object
 23  rating_count          4803 non-null   float64
dtypes: datetime64[ns](1), float64(4), int64(4), object(15)
memory usage: 938.1+ KB

In [165]:
sorted_MR=MR.sort_values(by=['rating_count','vote_average'],ascending=False)
sorted_MR.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,spoken_languages,status,tagline,title_x,vote_average,vote_count,title_y,cast,crew,rating_count
96,160000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 53, ""nam...",http://inceptionmovie.warnerbros.com/,27205,"[{""id"": 1014, ""name"": ""loss of lover""}, {""id"":...",en,Inception,"Cobb, a skilled thief who commits corporate es...",167.583710,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Your mind is the scene of the crime.,Inception,8.1,13752,Inception,"[{""cast_id"": 1, ""character"": ""Dom Cobb"", ""cred...","[{""credit_id"": ""56e8462cc3a368408400354c"", ""de...",7.341932
65,185000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 28, ""name...",http://thedarkknight.warnerbros.com/dvdsite/,155,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight,Batman raises the stakes in his war on crime. ...,187.322927,"[{""name"": ""DC Comics"", ""id"": 429}, {""name"": ""L...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Why So Serious?,The Dark Knight,8.2,12002,The Dark Knight,"[{""cast_id"": 35, ""character"": ""Bruce Wayne"", ""...","[{""credit_id"": ""55a0eb4a925141296b0010f8"", ""de...",7.334976
1881,25000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 80, ""name...",NaN,278,"[{""id"": 378, ""name"": ""prison""}, {""id"": 417, ""n...",en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,136.747729,"[{""name"": ""Castle Rock Entertainment"", ""id"": 97}]",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Fear can hold you prisoner. Hope can set you f...,The Shawshank Redemption,8.5,8205,The Shawshank Redemption,"[{""cast_id"": 3, ""character"": ""Andy Dufresne"", ...","[{""credit_id"": ""52fe4231c3a36847f800b153"", ""de...",7.277733
662,63000000,"[{""id"": 18, ""name"": ""Drama""}]",http://www.foxmovies.com/movies/fight-club,550,"[{""id"": 825, ""name"": ""support group""}, {""id"": ...",en,Fight Club,A ticking-time-bomb insomniac and a slippery s...,146.757391,"[{""name"": ""Regency Enterprises"", ""id"": 508}, {...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Mischief. Mayhem. Soap.,Fight Club,8.3,9413,Fight Club,"[{""cast_id"": 4, ""character"": ""The Narrator"", ""...","[{""credit_id"": ""55731b8192514111610027d7"", ""de...",7.251676
95,165000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 18, ""...",http://www.interstellarmovie.net/,157336,"[{""id"": 83, ""name"": ""saving the world""}, {""id""...",en,Interstellar,Interstellar chronicles the adventures of a gr...,724.247784,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...",...,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Mankind was born on Earth. It was never meant ...,Interstellar,8.1,10867,Interstellar,"[{""cast_id"": 9, ""character"": ""Joseph Cooper"", ...","[{""credit_id"": ""52fe4bbf9251416c910e4801"", ""de...",7.213579

In [173]:
sorted_MR=MR.sort_values(by=['rating_count','vote_average'],ascending=False)
MR_pro=sorted_MR.iloc[:,[12,6,1,11,19,18,20,23]]
x=MR_pro.head(50)
x

,revenue,original_title,genres,release_date,vote_count,vote_average,title_y,rating_count
96,825532764,Inception,"[{""id"": 28, ""name"": ""Action""}, {""id"": 53, ""nam...",2010-07-14,13752,8.1,Inception,7.341932
65,1004558444,The Dark Knight,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 28, ""name...",2008-07-16,12002,8.2,The Dark Knight,7.334976
1881,28341469,The Shawshank Redemption,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 80, ""name...",1994-09-23,8205,8.5,The Shawshank Redemption,7.277733
662,100853753,Fight Club,"[{""id"": 18, ""name"": ""Drama""}]",1999-10-15,9413,8.3,Fight Club,7.251676
95,675120017,Interstellar,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 18, ""...",2014-11-05,10867,8.1,Interstellar,7.213579
3232,213928762,Pulp Fiction,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 80, ""n...",1994-10-08,8428,8.3,Pulp Fiction,7.180951
809,677945399,Forrest Gump,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",1994-07-06,7927,8.2,Forrest Gump,7.084964
329,1118888979,The Lord of the Rings: The Return of the King,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",2003-12-01,8064,8.1,The Lord of the Rings: The Return of the King,7.039050
94,773328629,Guardians of the Galaxy,"[{""id"": 28, ""name"": ""Action""}, {""id"": 878, ""na...",2014-07-30,9742,7.9,Guardians of the Galaxy,7.028486
262,871368364,The Lord of the Rings: The Fellowship of the Ring,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",2001-12-18,8705,8.0,The Lord of the Rings: The Fellowship of the Ring,7.026250
3337,245066411,The Godfather,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 80, ""name...",1972-03-14,5893,8.4,The Godfather,6.994673
287,425368238,Django Unchained,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 37, ""name...",2012-12-25,10099,7.8,Django Unchained,6.985541
634,463517383,The Matrix,"[{""id"": 28, ""name"": ""Action""}, {""id"": 878, ""na...",1999-03-30,8907,7.9,The Matrix,6.980227
330,926287400,The Lord of the Rings: The Two Towers,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",2002-12-18,7487,8.0,The Lord of the Rings: The Two Towers,6.939421
2912,775398007,Star Wars,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",1977-05-25,6624,8.1,Star Wars,6.919659
1990,538400000,The Empire Strikes Back,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",1980-05-17,5879,8.2,The Empire Strikes Back,6.895474
77,857611174,Inside Out,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...",2015-06-09,6560,8.0,Inside Out,6.862203
1553,327311859,Se7en,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 9648, ""na...",1995-09-22,5765,8.1,Se7en,6.834722
2285,381109762,Back to the Future,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 35, ""...",1985-07-03,6079,8.0,Back to the Future,6.817531
3,1084939099,The Dark Knight Rises,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",2012-07-16,9106,7.6,The Dark Knight Rises,6.813403
298,392000694,The Wolf of Wall Street,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 18, ""name...",2013-12-25,6571,7.9,The Wolf of Wall Street,6.811620
571,319131050,Inglourious Basterds,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 28, ""name...",2009-08-18,6430,7.9,Inglourious Basterds,6.799443
16,1519557910,The Avengers,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",2012-04-25,11776,7.4,The Avengers,6.799197
2522,233555708,The Imitation Game,"[{""id"": 36, ""name"": ""History""}, {""id"": 18, ""na...",2014-11-14,5723,8.0,The Imitation Game,6.782142
788,783112979,Deadpool,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",2016-02-09,10995,7.4,Deadpool,6.771864
693,369330363,Gone Girl,"[{""id"": 9648, ""name"": ""Mystery""}, {""id"": 53, ""...",2014-10-01,5862,7.9,Gone Girl,6.747498
494,788241776,The Lion King,"[{""id"": 10751, ""name"": ""Family""}, {""id"": 16, ""...",1994-06-23,5376,8.0,The Lion King,6.745548
1818,321365567,Schindler's List,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 36, ""name...",1993-11-29,4329,8.3,Schindler's List,6.744147
439,294804195,Shutter Island,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 53, ""name...",2010-02-18,6336,7.8,Shutter Island,6.740518
57,521311860,WALL·E,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",2008-06-22,6296,7.8,WALL·E,6.737119
3865,13092000,Whiplash,"[{""id"": 18, ""name"": ""Drama""}]",2014-10-10,4254,8.3,Whiplash,6.732956
66,735099082,Up,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 35, ""...",2009-05-13,6870,7.7,Up,6.731222
88,652105443,Big Hero 6,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 10751...",2014-10-24,6135,7.8,Big Hero 6,6.723214
270,630161890,The Martian,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 12, ""name...",2015-09-30,7268,7.6,The Martian,6.705833
274,457640427,Gladiator,"[{""id"": 28, ""name"": ""Action""}, {""id"": 18, ""nam...",2000-05-01,5439,7.9,Gladiator,6.705512
68,585174222,Iron Man,"[{""id"": 28, ""name"": ""Action""}, {""id"": 878, ""na...",2008-04-30,8776,7.4,Iron Man,6.678620
2091,272742922,The Silence of the Lambs,"[{""id"": 80, ""name"": ""Crime""}, {""id"": 18, ""name...",1991-02-01,4443,8.1,The Silence of the Lambs,6.677146
25,1845034188,Titanic,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",1997-11-18,7562,7.5,Titanic,6.669915
0,2787965087,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",2009-12-10,11800,7.2,Avatar,6.668685
2294,274925095,千と千尋の神隠し,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 12, ""na...",2001-07-20,3840,8.3,Spirited Away,6.668159
628,481840909,Saving Private Ryan,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 36, ""name...",1998-07-24,5048,7.9,Saving Private Ryan,6.663887
690,284600000,The Green Mile,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 18, ""na...",1999-12-10,4048,8.2,The Green Mile,6.661762
119,374218673,Batman Begins,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",2005-06-10,7359,7.5,Batman Begins,6.657462
191,789804554,Harry Potter and the Prisoner of Azkaban,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",2004-05-31,5877,7.7,Harry Potter and the Prisoner of Azkaban,6.651383
1532,174600318,The Grand Budapest Hotel,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",2014-02-26,4519,8.0,The Grand Budapest Hotel,6.644993
197,976475550,Harry Potter and the Philosopher's Stone,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",2001-11-16,7006,7.5,Harry Potter and the Philosopher's Stone,6.634893
199,655011224,Pirates of the Caribbean: The Curse of the Bla...,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",2003-07-09,6985,7.5,Pirates of the Caribbean: The Curse of the Bla...,6.633512
1196,109676311,The Prestige,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 9648, ""na...",2006-10-19,4391,8.0,The Prestige,6.628573
328,940335536,Finding Nemo,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",2003-05-30,6122,7.6,Finding Nemo,6.622484
1490,572700000,Return of the Jedi,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 28, ""...",1983-05-23,4665,7.9,Return of the Jedi,6.620201

# **Explaination**
Two Datasets are been taking and data solumns are checked and merged for total data evaluation. Applied models like Vectorization and cosine similarities to group the data and identify the text data. Programmed the function for each purpose and outputed the desired output to input function. It recommended the movies similar to input movie, genre and also the last dataframe represents the top movies based on rating and votings.